In [1]:
import bs4 as bs
import datetime as dt
import os
import pandas as pd
import pandas_datareader.data as web
import pickle
import requests



def save_sp500_tickers():
    resp = requests.get('http://en.wikipedia.org/wiki/List_of_S%26P_500_companies')
    soup = bs.BeautifulSoup(resp.text, 'lxml')
    table = soup.find('table', {'class': 'wikitable sortable'})
    tickers = []
    for row in table.findAll('tr')[1:]:
        ticker = row.findAll('td')[0].text
        tickers.append(ticker)
        
    with open("sp500tickers.pickle","wb") as f:
        pickle.dump(tickers,f)
        
    return tickers

#save_sp500_tickers()


def get_data_from_yahoo(reload_sp500=False):
    
    
    if reload_sp500:
        tickers = save_sp500_tickers()
    else:
        with open("sp500tickers.pickle","rb") as f:
            tickers = pickle.load(f)
    
    if not os.path.exists('stock_dfs'):
        os.makedirs('stock_dfs')

    start = dt.datetime(2000, 1, 1)
    end = dt.datetime(2016, 12, 31)
    
    for ticker in tickers:
        # just in case your connection breaks, we'd like to save our progress!
        if not os.path.exists('stock_dfs/{}.csv'.format(ticker)):
            df = web.DataReader(ticker, "yahoo", start, end)
            df.to_csv('stock_dfs/{}.csv'.format(ticker))
        else:
            print('Already have {}'.format(ticker))

#get_data_from_yahoo()

def compile_data():
    with open('sp500tickers.pickle', 'rb') as f:
        tickers = pickle.load(f)
    
    main_df = pd.DataFrame()
    
    for count, ticker in enumerate(tickers):
        df = pd.read_csv('stock_dfs/{}.csv'.format(ticker))
        df.set_index('Date', inplace=True)
        
        df.rename(columns={'Adj Close':ticker}, inplace=True)
        df.drop(['Open','High','Low','Close','Volume'],1,inplace=True)
        
        if main_df.empty:
            main_df = df
        else:
            main_df = main_df.join(df, how='outer')
        
        if count % 10 == 0:
            print(count)
        print(main_df.head())
        main_df.to_csv('sp500_joined_closes.csv')
compile_data()

0
                  MMM
Date
2000-01-03  31.333866
2000-01-04  30.088811
2000-01-05  30.960349
2000-01-06  33.450458
2000-01-07  34.114487
                  MMM       ABT
Date
2000-01-03  31.333866  9.517434
2000-01-04  30.088811  9.245507
2000-01-05  30.960349  9.228512
2000-01-06  33.450458  9.551425
2000-01-07  34.114487  9.653397
                  MMM       ABT  ABBV
Date
2000-01-03  31.333866  9.517434   NaN
2000-01-04  30.088811  9.245507   NaN
2000-01-05  30.960349  9.228512   NaN
2000-01-06  33.450458  9.551425   NaN
2000-01-07  34.114487  9.653397   NaN
                  MMM       ABT  ABBV  ACN
Date
2000-01-03  31.333866  9.517434   NaN  NaN
2000-01-04  30.088811  9.245507   NaN  NaN
2000-01-05  30.960349  9.228512   NaN  NaN
2000-01-06  33.450458  9.551425   NaN  NaN
2000-01-07  34.114487  9.653397   NaN  NaN
                  MMM       ABT  ABBV  ACN      ATVI
Date
2000-01-03  31.333866  9.517434   NaN  NaN  1.259640
2000-01-04  30.088811  9.245507   NaN  NaN  1.221324
2000-01-05  30.960349  9.228512   NaN  NaN  1.226114
2000-01-06  33.450458  9.551425   NaN  NaN  1.202166
2000-01-07  34.114487  9.653397   NaN  NaN  1.235693
                  MMM       ABT  ABBV  ACN      ATVI  AYI
Date
2000-01-03  31.333866  9.517434   NaN  NaN  1.259640  NaN
2000-01-04  30.088811  9.245507   NaN  NaN  1.221324  NaN
2000-01-05  30.960349  9.228512   NaN  NaN  1.226114  NaN
2000-01-06  33.450458  9.551425   NaN  NaN  1.202166  NaN
2000-01-07  34.114487  9.653397   NaN  NaN  1.235693  NaN
                  MMM       ABT  ABBV  ACN      ATVI  AYI       ADBE
Date
2000-01-03  31.333866  9.517434   NaN  NaN  1.259640  NaN  16.274673
2000-01-04  30.088811  9.245507   NaN  NaN  1.221324  NaN  14.909400
2000-01-05  30.960349  9.228512   NaN  NaN  1.226114  NaN  15.204175
2000-01-06  33.450458  9.551425   NaN  NaN  1.202166  NaN  15.328291
2000-01-07  34.114487  9.653397   NaN  NaN  1.235693  NaN  16.072985
                  MMM       ABT  ABBV  ACN      ATVI  AYI       ADBE  AAP
Date
2000-01-03  31.333866  9.517434   NaN  NaN  1.259640  NaN  16.274673  NaN
2000-01-04  30.088811  9.245507   NaN  NaN  1.221324  NaN  14.909400  NaN
2000-01-05  30.960349  9.228512   NaN  NaN  1.226114  NaN  15.204175  NaN
2000-01-06  33.450458  9.551425   NaN  NaN  1.202166  NaN  15.328291  NaN
2000-01-07  34.114487  9.653397   NaN  NaN  1.235693  NaN  16.072985  NaN
                  MMM       ABT  ABBV  ACN      ATVI  AYI       ADBE  AAP  \
Date
2000-01-03  31.333866  9.517434   NaN  NaN  1.259640  NaN  16.274673  NaN
2000-01-04  30.088811  9.245507   NaN  NaN  1.221324  NaN  14.909400  NaN
2000-01-05  30.960349  9.228512   NaN  NaN  1.226114  NaN  15.204175  NaN
2000-01-06  33.450458  9.551425   NaN  NaN  1.202166  NaN  15.328291  NaN
2000-01-07  34.114487  9.653397   NaN  NaN  1.235693  NaN  16.072985  NaN

                  AES
Date
2000-01-03  32.346420
2000-01-04  31.063717
2000-01-05  31.398335
2000-01-06  31.649299
2000-01-07  32.262765
                  MMM       ABT  ABBV  ACN      ATVI  AYI       ADBE  AAP  \
Date
2000-01-03  31.333866  9.517434   NaN  NaN  1.259640  NaN  16.274673  NaN
2000-01-04  30.088811  9.245507   NaN  NaN  1.221324  NaN  14.909400  NaN
2000-01-05  30.960349  9.228512   NaN  NaN  1.226114  NaN  15.204175  NaN
2000-01-06  33.450458  9.551425   NaN  NaN  1.202166  NaN  15.328291  NaN
2000-01-07  34.114487  9.653397   NaN  NaN  1.235693  NaN  16.072985  NaN

                  AES       AET
Date
2000-01-03  32.346420  6.290820
2000-01-04  31.063717  6.184675
2000-01-05  31.398335  6.142218
2000-01-06  31.649299  6.149294
2000-01-07  32.262765  6.552642
10
                  MMM       ABT  ABBV  ACN      ATVI  AYI       ADBE  AAP  \
Date
2000-01-03  31.333866  9.517434   NaN  NaN  1.259640  NaN  16.274673  NaN
2000-01-04  30.088811  9.245507   NaN  NaN  1.221324  NaN  14.909400  NaN
2000-01-05  30.960349  9.228512   NaN  NaN  1.226114  NaN  15.204175  NaN
2000-01-06  33.450458  9.551425   NaN  NaN  1.202166  NaN  15.328291  NaN
2000-01-07  34.114487  9.653397   NaN  NaN  1.235693  NaN  16.072985  NaN

                  AES       AET        AMG
Date
2000-01-03  32.346420  6.290820  24.468919
2000-01-04  31.063717  6.184675  22.513069
2000-01-05  31.398335  6.142218  21.972090
2000-01-06  31.649299  6.149294  22.637911
2000-01-07  32.262765  6.552642  23.178891
                  MMM       ABT  ABBV  ACN      ATVI  AYI       ADBE  AAP  \
Date
2000-01-03  31.333866  9.517434   NaN  NaN  1.259640  NaN  16.274673  NaN
2000-01-04  30.088811  9.245507   NaN  NaN  1.221324  NaN  14.909400  NaN
2000-01-05  30.960349  9.228512   NaN  NaN  1.226114  NaN  15.204175  NaN
2000-01-06  33.450458  9.551425   NaN  NaN  1.202166  NaN  15.328291  NaN
2000-01-07  34.114487  9.653397   NaN  NaN  1.235693  NaN  16.072985  NaN

                  AES       AET        AMG        AFL
Date
2000-01-03  32.346420  6.290820  24.468919  16.491904
2000-01-04  31.063717  6.184675  22.513069  16.054270
2000-01-05  31.398335  6.142218  21.972090  15.962137
2000-01-06  31.649299  6.149294  22.637911  16.284604
2000-01-07  32.262765  6.552642  23.178891  16.607071
                  MMM       ABT  ABBV  ACN      ATVI  AYI       ADBE  AAP  \
Date
2000-01-03  31.333866  9.517434   NaN  NaN  1.259640  NaN  16.274673  NaN
2000-01-04  30.088811  9.245507   NaN  NaN  1.221324  NaN  14.909400  NaN
2000-01-05  30.960349  9.228512   NaN  NaN  1.226114  NaN  15.204175  NaN
2000-01-06  33.450458  9.551425   NaN  NaN  1.202166  NaN  15.328291  NaN
2000-01-07  34.114487  9.653397   NaN  NaN  1.235693  NaN  16.072985  NaN

                  AES       AET        AMG        AFL          A
Date
2000-01-03  32.346420  6.290820  24.468919  16.491904  46.106304
2000-01-04  31.063717  6.184675  22.513069  16.054270  42.584294
2000-01-05  31.398335  6.142218  21.972090  15.962137  39.942786
2000-01-06  31.649299  6.149294  22.637911  16.284604  38.421917
2000-01-07  32.262765  6.552642  23.178891  16.607071  41.623744
                  MMM       ABT  ABBV  ACN      ATVI  AYI       ADBE  AAP  \
Date
2000-01-03  31.333866  9.517434   NaN  NaN  1.259640  NaN  16.274673  NaN
2000-01-04  30.088811  9.245507   NaN  NaN  1.221324  NaN  14.909400  NaN
2000-01-05  30.960349  9.228512   NaN  NaN  1.226114  NaN  15.204175  NaN
2000-01-06  33.450458  9.551425   NaN  NaN  1.202166  NaN  15.328291  NaN
2000-01-07  34.114487  9.653397   NaN  NaN  1.235693  NaN  16.072985  NaN

                  AES       AET        AMG        AFL          A        APD
Date
2000-01-03  32.346420  6.290820  24.468919  16.491904  46.106304  20.502169
2000-01-04  31.063717  6.184675  22.513069  16.054270  42.584294  19.877340
2000-01-05  31.398335  6.142218  21.972090  15.962137  39.942786  19.994495
2000-01-06  31.649299  6.149294  22.637911  16.284604  38.421917  21.322255
2000-01-07  32.262765  6.552642  23.178891  16.607071  41.623744  22.806222
                  MMM       ABT  ABBV  ACN      ATVI  AYI       ADBE  AAP  \
Date
2000-01-03  31.333866  9.517434   NaN  NaN  1.259640  NaN  16.274673  NaN
2000-01-04  30.088811  9.245507   NaN  NaN  1.221324  NaN  14.909400  NaN
2000-01-05  30.960349  9.228512   NaN  NaN  1.226114  NaN  15.204175  NaN
2000-01-06  33.450458  9.551425   NaN  NaN  1.202166  NaN  15.328291  NaN
2000-01-07  34.114487  9.653397   NaN  NaN  1.235693  NaN  16.072985  NaN

                  AES       AET        AMG        AFL          A        APD  \
Date
2000-01-03  32.346420  6.290820  24.468919  16.491904  46.106304  20.502169
2000-01-04  31.063717  6.184675  22.513069  16.054270  42.584294  19.877340
2000-01-05  31.398335  6.142218  21.972090  15.962137  39.942786  19.994495
2000-01-06  31.649299  6.149294  22.637911  16.284604  38.421917  21.322255
2000-01-07  32.262765  6.552642  23.178891  16.607071  41.623744  22.806222

               AKAM
Date
2000-01-03  321.250
2000-01-04  300.000
2000-01-05  283.500
2000-01-06  236.125
2000-01-07  248.375
                  MMM       ABT  ABBV  ACN      ATVI  AYI       ADBE  AAP  \
Date
2000-01-03  31.333866  9.517434   NaN  NaN  1.259640  NaN  16.274673  NaN
2000-01-04  30.088811  9.245507   NaN  NaN  1.221324  NaN  14.909400  NaN
2000-01-05  30.960349  9.228512   NaN  NaN  1.226114  NaN  15.204175  NaN
2000-01-06  33.450458  9.551425   NaN  NaN  1.202166  NaN  15.328291  NaN
2000-01-07  34.114487  9.653397   NaN  NaN  1.235693  NaN  16.072985  NaN

                  AES       AET        AMG        AFL          A        APD  \
Date
2000-01-03  32.346420  6.290820  24.468919  16.491904  46.106304  20.502169
2000-01-04  31.063717  6.184675  22.513069  16.054270  42.584294  19.877340
2000-01-05  31.398335  6.142218  21.972090  15.962137  39.942786  19.994495
2000-01-06  31.649299  6.149294  22.637911  16.284604  38.421917  21.322255
2000-01-07  32.262765  6.552642  23.178891  16.607071  41.623744  22.806222

               AKAM       ALK
Date
2000-01-03  321.250  8.374914
2000-01-04  300.000  8.270227
2000-01-05  283.500  8.315093
2000-01-06  236.125  8.322559
2000-01-07  248.375  8.629152
                  MMM       ABT  ABBV  ACN      ATVI  AYI       ADBE  AAP  \
Date
2000-01-03  31.333866  9.517434   NaN  NaN  1.259640  NaN  16.274673  NaN
2000-01-04  30.088811  9.245507   NaN  NaN  1.221324  NaN  14.909400  NaN
2000-01-05  30.960349  9.228512   NaN  NaN  1.226114  NaN  15.204175  NaN
2000-01-06  33.450458  9.551425   NaN  NaN  1.202166  NaN  15.328291  NaN
2000-01-07  34.114487  9.653397   NaN  NaN  1.235693  NaN  16.072985  NaN

                  AES       AET        AMG        AFL          A        APD  \
Date
2000-01-03  32.346420  6.290820  24.468919  16.491904  46.106304  20.502169
2000-01-04  31.063717  6.184675  22.513069  16.054270  42.584294  19.877340
2000-01-05  31.398335  6.142218  21.972090  15.962137  39.942786  19.994495
2000-01-06  31.649299  6.149294  22.637911  16.284604  38.421917  21.322255
2000-01-07  32.262765  6.552642  23.178891  16.607071  41.623744  22.806222

               AKAM       ALK       ALB
Date
2000-01-03  321.250  8.374914  6.735398
2000-01-04  300.000  8.270227  6.735398
2000-01-05  283.500  8.315093  6.852332
2000-01-06  236.125  8.322559  7.086199
2000-01-07  248.375  8.629152  6.969265
                  MMM       ABT  ABBV  ACN      ATVI  AYI       ADBE  AAP  \
Date
2000-01-03  31.333866  9.517434   NaN  NaN  1.259640  NaN  16.274673  NaN
2000-01-04  30.088811  9.245507   NaN  NaN  1.221324  NaN  14.909400  NaN
2000-01-05  30.960349  9.228512   NaN  NaN  1.226114  NaN  15.204175  NaN
2000-01-06  33.450458  9.551425   NaN  NaN  1.202166  NaN  15.328291  NaN
2000-01-07  34.114487  9.653397   NaN  NaN  1.235693  NaN  16.072985  NaN

                  AES       AET        AMG        AFL          A        APD  \
Date
2000-01-03  32.346420  6.290820  24.468919  16.491904  46.106304  20.502169
2000-01-04  31.063717  6.184675  22.513069  16.054270  42.584294  19.877340
2000-01-05  31.398335  6.142218  21.972090  15.962137  39.942786  19.994495
2000-01-06  31.649299  6.149294  22.637911  16.284604  38.421917  21.322255
2000-01-07  32.262765  6.552642  23.178891  16.607071  41.623744  22.806222

               AKAM       ALK       ALB      AGN
Date
2000-01-03  321.250  8.374914  6.735398  35.0000
2000-01-04  300.000  8.270227  6.735398  33.8750
2000-01-05  283.500  8.315093  6.852332  34.5000
2000-01-06  236.125  8.322559  7.086199  35.0000
2000-01-07  248.375  8.629152  6.969265  37.4375
                  MMM       ABT  ABBV  ACN      ATVI  AYI       ADBE  AAP  \
Date
2000-01-03  31.333866  9.517434   NaN  NaN  1.259640  NaN  16.274673  NaN
2000-01-04  30.088811  9.245507   NaN  NaN  1.221324  NaN  14.909400  NaN
2000-01-05  30.960349  9.228512   NaN  NaN  1.226114  NaN  15.204175  NaN
2000-01-06  33.450458  9.551425   NaN  NaN  1.202166  NaN  15.328291  NaN
2000-01-07  34.114487  9.653397   NaN  NaN  1.235693  NaN  16.072985  NaN

                  AES       AET        AMG        AFL          A        APD  \
Date
2000-01-03  32.346420  6.290820  24.468919  16.491904  46.106304  20.502169
2000-01-04  31.063717  6.184675  22.513069  16.054270  42.584294  19.877340
2000-01-05  31.398335  6.142218  21.972090  15.962137  39.942786  19.994495
2000-01-06  31.649299  6.149294  22.637911  16.284604  38.421917  21.322255
2000-01-07  32.262765  6.552642  23.178891  16.607071  41.623744  22.806222

               AKAM       ALK       ALB      AGN       LNT
Date
2000-01-03  321.250  8.374914  6.735398  35.0000  6.010320
2000-01-04  300.000  8.270227  6.735398  33.8750  6.010320
2000-01-05  283.500  8.315093  6.852332  34.5000  6.304532
2000-01-06  236.125  8.322559  7.086199  35.0000  6.304532
2000-01-07  248.375  8.629152  6.969265  37.4375  6.388592
                  MMM       ABT  ABBV  ACN      ATVI  AYI       ADBE  AAP  \
Date
2000-01-03  31.333866  9.517434   NaN  NaN  1.259640  NaN  16.274673  NaN
2000-01-04  30.088811  9.245507   NaN  NaN  1.221324  NaN  14.909400  NaN
2000-01-05  30.960349  9.228512   NaN  NaN  1.226114  NaN  15.204175  NaN
2000-01-06  33.450458  9.551425   NaN  NaN  1.202166  NaN  15.328291  NaN
2000-01-07  34.114487  9.653397   NaN  NaN  1.235693  NaN  16.072985  NaN

                  AES       AET        AMG        AFL          A        APD  \
Date
2000-01-03  32.346420  6.290820  24.468919  16.491904  46.106304  20.502169
2000-01-04  31.063717  6.184675  22.513069  16.054270  42.584294  19.877340
2000-01-05  31.398335  6.142218  21.972090  15.962137  39.942786  19.994495
2000-01-06  31.649299  6.149294  22.637911  16.284604  38.421917  21.322255
2000-01-07  32.262765  6.552642  23.178891  16.607071  41.623744  22.806222

               AKAM       ALK       ALB      AGN       LNT     ALXN
Date
2000-01-03  321.250  8.374914  6.735398  35.0000  6.010320  7.37500
2000-01-04  300.000  8.270227  6.735398  33.8750  6.010320  6.93750
2000-01-05  283.500  8.315093  6.852332  34.5000  6.304532  7.28125
2000-01-06  236.125  8.322559  7.086199  35.0000  6.304532  7.75000
2000-01-07  248.375  8.629152  6.969265  37.4375  6.388592  8.25000
20
                  MMM       ABT  ABBV  ACN      ATVI  AYI       ADBE  AAP  \
Date
2000-01-03  31.333866  9.517434   NaN  NaN  1.259640  NaN  16.274673  NaN
2000-01-04  30.088811  9.245507   NaN  NaN  1.221324  NaN  14.909400  NaN
2000-01-05  30.960349  9.228512   NaN  NaN  1.226114  NaN  15.204175  NaN
2000-01-06  33.450458  9.551425   NaN  NaN  1.202166  NaN  15.328291  NaN
2000-01-07  34.114487  9.653397   NaN  NaN  1.235693  NaN  16.072985  NaN

                  AES       AET  ...         AFL          A        APD  \
Date                             ...
2000-01-03  32.346420  6.290820  ...   16.491904  46.106304  20.502169
2000-01-04  31.063717  6.184675  ...   16.054270  42.584294  19.877340
2000-01-05  31.398335  6.142218  ...   15.962137  39.942786  19.994495
2000-01-06  31.649299  6.149294  ...   16.284604  38.421917  21.322255
2000-01-07  32.262765  6.552642  ...   16.607071  41.623744  22.806222

               AKAM       ALK       ALB      AGN       LNT     ALXN  ALLE
Date
2000-01-03  321.250  8.374914  6.735398  35.0000  6.010320  7.37500   NaN
2000-01-04  300.000  8.270227  6.735398  33.8750  6.010320  6.93750   NaN
2000-01-05  283.500  8.315093  6.852332  34.5000  6.304532  7.28125   NaN
2000-01-06  236.125  8.322559  7.086199  35.0000  6.304532  7.75000   NaN
2000-01-07  248.375  8.629152  6.969265  37.4375  6.388592  8.25000   NaN

[5 rows x 21 columns]
                  MMM       ABT  ABBV  ACN      ATVI  AYI       ADBE  AAP  \
Date
2000-01-03  31.333866  9.517434   NaN  NaN  1.259640  NaN  16.274673  NaN
2000-01-04  30.088811  9.245507   NaN  NaN  1.221324  NaN  14.909400  NaN
2000-01-05  30.960349  9.228512   NaN  NaN  1.226114  NaN  15.204175  NaN
2000-01-06  33.450458  9.551425   NaN  NaN  1.202166  NaN  15.328291  NaN
2000-01-07  34.114487  9.653397   NaN  NaN  1.235693  NaN  16.072985  NaN

                  AES       AET ...           A        APD     AKAM       ALK  \
Date                            ...
2000-01-03  32.346420  6.290820 ...   46.106304  20.502169  321.250  8.374914
2000-01-04  31.063717  6.184675 ...   42.584294  19.877340  300.000  8.270227
2000-01-05  31.398335  6.142218 ...   39.942786  19.994495  283.500  8.315093
2000-01-06  31.649299  6.149294 ...   38.421917  21.322255  236.125  8.322559
2000-01-07  32.262765  6.552642 ...   41.623744  22.806222  248.375  8.629152

                 ALB      AGN       LNT     ALXN  ALLE  ADS
Date
2000-01-03  6.735398  35.0000  6.010320  7.37500   NaN  NaN
2000-01-04  6.735398  33.8750  6.010320  6.93750   NaN  NaN
2000-01-05  6.852332  34.5000  6.304532  7.28125   NaN  NaN
2000-01-06  7.086199  35.0000  6.304532  7.75000   NaN  NaN
2000-01-07  6.969265  37.4375  6.388592  8.25000   NaN  NaN

[5 rows x 22 columns]
                  MMM       ABT  ABBV  ACN      ATVI  AYI       ADBE  AAP  \
Date
2000-01-03  31.333866  9.517434   NaN  NaN  1.259640  NaN  16.274673  NaN
2000-01-04  30.088811  9.245507   NaN  NaN  1.221324  NaN  14.909400  NaN
2000-01-05  30.960349  9.228512   NaN  NaN  1.226114  NaN  15.204175  NaN
2000-01-06  33.450458  9.551425   NaN  NaN  1.202166  NaN  15.328291  NaN
2000-01-07  34.114487  9.653397   NaN  NaN  1.235693  NaN  16.072985  NaN

                  AES       AET    ...            APD     AKAM       ALK  \
Date                               ...
2000-01-03  32.346420  6.290820    ...      20.502169  321.250  8.374914
2000-01-04  31.063717  6.184675    ...      19.877340  300.000  8.270227
2000-01-05  31.398335  6.142218    ...      19.994495  283.500  8.315093
2000-01-06  31.649299  6.149294    ...      21.322255  236.125  8.322559
2000-01-07  32.262765  6.552642    ...      22.806222  248.375  8.629152

                 ALB      AGN       LNT     ALXN  ALLE  ADS        ALL
Date
2000-01-03  6.735398  35.0000  6.010320  7.37500   NaN  NaN  15.318256
2000-01-04  6.735398  33.8750  6.010320  6.93750   NaN  NaN  14.829376
2000-01-05  6.852332  34.5000  6.304532  7.28125   NaN  NaN  15.481216
2000-01-06  7.086199  35.0000  6.304532  7.75000   NaN  NaN  15.399736
2000-01-07  6.969265  37.4375  6.388592  8.25000   NaN  NaN  15.970097

[5 rows x 23 columns]
                  MMM       ABT  ABBV  ACN      ATVI  AYI       ADBE  AAP  \
Date
2000-01-03  31.333866  9.517434   NaN  NaN  1.259640  NaN  16.274673  NaN
2000-01-04  30.088811  9.245507   NaN  NaN  1.221324  NaN  14.909400  NaN
2000-01-05  30.960349  9.228512   NaN  NaN  1.226114  NaN  15.204175  NaN
2000-01-06  33.450458  9.551425   NaN  NaN  1.202166  NaN  15.328291  NaN
2000-01-07  34.114487  9.653397   NaN  NaN  1.235693  NaN  16.072985  NaN

                  AES       AET  ...       AKAM       ALK       ALB      AGN  \
Date                             ...
2000-01-03  32.346420  6.290820  ...    321.250  8.374914  6.735398  35.0000
2000-01-04  31.063717  6.184675  ...    300.000  8.270227  6.735398  33.8750
2000-01-05  31.398335  6.142218  ...    283.500  8.315093  6.852332  34.5000
2000-01-06  31.649299  6.149294  ...    236.125  8.322559  7.086199  35.0000
2000-01-07  32.262765  6.552642  ...    248.375  8.629152  6.969265  37.4375

                 LNT     ALXN  ALLE  ADS        ALL  GOOGL
Date
2000-01-03  6.010320  7.37500   NaN  NaN  15.318256    NaN
2000-01-04  6.010320  6.93750   NaN  NaN  14.829376    NaN
2000-01-05  6.304532  7.28125   NaN  NaN  15.481216    NaN
2000-01-06  6.304532  7.75000   NaN  NaN  15.399736    NaN
2000-01-07  6.388592  8.25000   NaN  NaN  15.970097    NaN

[5 rows x 24 columns]
                  MMM       ABT  ABBV  ACN      ATVI  AYI       ADBE  AAP  \
Date
2000-01-03  31.333866  9.517434   NaN  NaN  1.259640  NaN  16.274673  NaN
2000-01-04  30.088811  9.245507   NaN  NaN  1.221324  NaN  14.909400  NaN
2000-01-05  30.960349  9.228512   NaN  NaN  1.226114  NaN  15.204175  NaN
2000-01-06  33.450458  9.551425   NaN  NaN  1.202166  NaN  15.328291  NaN
2000-01-07  34.114487  9.653397   NaN  NaN  1.235693  NaN  16.072985  NaN


IOError: File stock_dfs/BRK.B.csv does not exist